.seo {
  margin: 0;
  padding: 0;
}

.seo__inner {
  display: flex;
  justify-content: space-between;

  @media #{$notebook} {
   max-width: 90%;
    margin: 0 auto;
  }

  @media #{$tablet} {
    flex-direction: column-reverse;
  }
}

.seo-left {
  padding-right: 249px;

  @media #{$notebook} {
    padding: 0;
  }
}

.seo__title {
  margin-bottom: 35px;

  font-weight: 400;
  font-family: inherit;
  font-size: 40px;
  color: #000;

  @media #{$mobile} {
    margin-bottom: 5px;

    font-size: 20px;
  }
}

.seo__text {
  margin-bottom: 37px;

  font-weight: 400;
  font-family: inherit;
  font-size: 18px;
  color: #000;

  @media #{$mobile} {
    font-size: 10px;
  }
}

.seo-right {
  margin: 0;

  @media #{$notebook} {
    margin-left: 85px;
    margin-bottom: 30px;
  }
  
  @media #{$tablet} {
    margin-left: 0;
    margin-bottom: 70px;
  }
}

.seo__logo {
  margin-bottom: 36px;

  @media #{$mobile} {
    margin-bottom: 20px;
  }
}

.seo__img {
  max-width: 100%;
  margin-bottom: 25px;

  @media #{$mobile} {
    max-width: 20%;
    margin-bottom: 0;
  }
}

.seo__logo__title {
  font-weight: 400;
  font-family: inherit;
  font-size: 40px;
  color: #000;

  @media #{$mobile} {
    font-size: 25px;
  }
}

.seo__logo__subtitle {
  font-weight: 300;
  font-family: inherit;
  font-size: 13px;
  color: #777777;

  @media #{$mobile} {
    font-size: 11px;
  }
}

.seo__company {
  margin-bottom: 25px;
}

.seo__company__title {
  font-weight: 400;
  font-family: inherit;
  font-size: 24px;
  color: #000;

  @media #{$mobile} {
    font-size: 18px;
  }
}

.seo__company__subtitle {
  font-weight: 300;
  font-family: inherit;
  font-size: 13px;
  color: #777777;

  @media #{$mobile} {
    font-size: 11px;
  }
}

.seo__info {
  display: flex;
  flex-direction: column;

  @media #{$mobile} {
    font-size: 10px;
  }
}
